
<h2>So, you are missing a celebrity.</h2>
<h2>Let us know who!</h2>

<form action="/celebrities" method="POST">
<label for="name-input">Name</label>
<input type="text" id="input-name" name="name" placeholder="Name" required>

<label for="occupation-input">Occupation</label>
<input type="text" id="input-occupation" name="occupation" placeholder="occupation" required>

<label for="catchPhrase-input">Catch Phrase</label>
<input type="text" id="input-catchPhrase" name="catchPhrase" placeholder="catchPhrase" required>

<button>Add her/him to the digital Hall of Fame</button>

</form>

