
{{#with celebrityDetails}}

<h2> {{name}} </h2>
<p>Occupation: {{occupation}}</p>
<p>Catch Phrase: "{{catchPhrase}}"</p>


<form action="/celebrities/{{_id}}/edit">
<label for="update" hidden>Update!</label>
<button class="go-back">You spotted an error?</button>
</form>


<form action="/celebrities">
<label for="Go back" hidden>Go back</label>
<button class="go-back"> ↩ Back to the list</button>
</form>



{{/with}}