
{{#with celebrityDetails}}

<h2> {{name}} </h2>
<p>Occupation: {{occupation}}</p>
<p>Catch Phrase: "{{catchPhrase}}"</p>

<div class="spotted-an-error">
<form action="/celebrities/{{_id}}/edit">
<label for="update">You spotted an error?</label>
<button>Yes!</button>
</form>
</div>

{{/with}}