<h1>Lab Mongoose Movies</h1>
<p>Welcome to Lab Mongoose Movies</p>

<form action="/celebrities">
<button class="home-button">Take me to the celebrities</button>
</form>

<form action="/movies">
<button class="home-button">I rather want to see the movies</button>
</form>

