<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lab Mongoose Movies</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <a href="/" class="nav-link">Home</a>
      <a href="/celebrities"class="nav-link">Celebrities</a>
      <a href="/celebrities/create"class="nav-link">Add a new celebrity</a>
      <a href="/movies" class="nav-link">Movies</a>
      <a href="/movies/create" class="nav-link">Add a new movie</a>
    </nav>
    {{{body}}}
  </body>
</html>