
<h2>So, you are missing a movie.</h2>
<h2>Let us know which one!</h2>


<form action="/movies" method="POST" class="create-movie-inputs">

<label for="name-input">Title</label>
<input type="text" id="input-title" name="title" placeholder="Title" required>

<label for="genre-input">Genre</label>
<input type="text" id="input-genre" name="genre" placeholder="Genre" required>

<label for="plot-input">Plot</label>
<textarea id="plot-input" name="plot" placeholder="Plot" required></textarea>

<button class="create-button">Add it!</button>

</form>

